body {
    background-color: #cac9aa;
}

.black1 {
    width: 150px;
    height: 80px; 
    transform: skewY(-20deg);
    background: #000000;
    position: absolute;
    left: 400px;
    top: 315px;
}

.blue1 {
    width: 150px;
    height: 80px; 
    transform: skewY(30deg);
    background: #29476b;
    position: absolute;
    left: 550px;
    top: 331px;
    
}

.orange1 {
    width: 355px;
    height: 82px; 
    transform: rotateX(20deg) rotateY(-50deg);
    background: #c03f14;
    position: absolute;
    left: 456px;
    top: 445px;
   
}

.white1 {
    width: 355px;
    height: 80px; 
    transform: rotateX(20deg) rotateY(-50deg) skew(56deg);
    background: #ffffff;
    position: absolute;
    left: 418px;
    top: 386px;
}

.black2 {
    width: 80px;
    height: 100px;
    background: #000000;
    transform: skewY(30deg);
    position: absolute;
    left: 747px;
    top: 324px;
}

.black3 {
    width: 304px;
    height: 80px;
    background: #000000;
    transform: skewY(30deg);
    position: absolute;
    left: 443px;
    top: 538px;
}

.orange2 {
    width: 75px;
    height: 640px;
    background: #c03f14;
    transform: skewY(-20deg);
    position: absolute;
    left: 523px;
    top: 490px;
    z-index: -1;
}

.black4 {
    width: 80px;
    height: 200px;
    background: #000000;
    transform: skewY(30deg);
    position: absolute;
    left: 443px;
    top: 550px;
}

.black5 {
    width: 310px;
    height: 96px;
    background: #000000;
    transform: skewY(30deg);
    position: absolute;
    left: 213px;
    top: 683px;
}

.white2 {
    width: 480px;
    height: 70px;
    background: #ffffff;
    transform: rotate(30deg) rotateY(130deg) skew(50deg);
    position: absolute;
    left: 148px;
    top: 619px;
    z-index: -2;
}

.blue2 {
    width: 80px;
    height: 40px; 
    transform: skewY(-20deg);
    background: #29476b;
    position: absolute;
    left: 213px;
    top: 675px;
    z-index: -1;
}

.black6 {
    width: 80px;
    height: 60px;
    background: #000000;
    transform: rotate(30deg) rotateY(119deg) skew(60deg);
    position: absolute;
    left: 537px;
    top: 1110px;
}