body {
    background-color: #cac9aa;
}

.black1 {
    width: 150px;
    height: 80px; 
    transform: skewY(-20deg);
    background: #000000;
    position: absolute;
    left: 300px;
    top: 115px;
}

.blue1 {
    width: 150px;
    height: 80px; 
    transform: skewY(30deg);
    background: #29476b;
    position: absolute;
    left: 450px;
    top: 131px; 
}

.orange1 {
    width: 355px;
    height: 82px; 
    transform: rotateX(20deg) rotateY(-50deg);
    background: #c03f14;
    position: absolute;
    left: 356px;
    top: 245px;
}

.white1 {
    width: 355px;
    height: 80px; 
    transform: rotateX(20deg) rotateY(-50deg) skew(56deg);
    background: #ffffff;
    position: absolute;
    left: 318px;
    top: 186px;
}

.black2 {
    width: 80px;
    height: 100px;
    background: #000000;
    transform: skewY(30deg);
    position: absolute;
    left: 647px;
    top: 124px;
}

.black3 {
    width: 304px;
    height: 80px;
    background: #000000;
    transform: skewY(30deg);
    position: absolute;
    left: 343px;
    top: 338px;
}

.orange2 {
    width: 75px;
    height: 640px;
    background: #c03f14;
    transform: skewY(-20deg);
    position: absolute;
    left: 423px;
    top: 290px;
    z-index: -1;
}

.black4 {
    width: 80px;
    height: 200px;
    background: #000000;
    transform: skewY(30deg);
    position: absolute;
    left: 343px;
    top: 350px;
}

.black5 {
    width: 310px;
    height: 96px;
    background: #000000;
    transform: skewY(30deg);
    position: absolute;
    left: 113px;
    top: 483px;
}

.white2 {
    width: 480px;
    height: 70px;
    background: #ffffff;
    transform: rotate(30deg) rotateY(130deg) skew(50deg);
    position: absolute;
    left: 48px;
    top: 419px;
    z-index: -2;
}

.blue2 {
    width: 80px;
    height: 40px; 
    transform: skewY(-20deg);
    background: #29476b;
    position: absolute;
    left: 113px;
    top: 475px;
    z-index: -1;
}

.black6 {
    width: 80px;
    height: 60px;
    background: #000000;
    transform: rotate(30deg) rotateY(119deg) skew(60deg);
    position: absolute;
    left: 437px;
    top: 910px;
}